<div class="container">
  <div class="main">
   <%= image_tag("pineapple.jpg", :size => "360x580")  %> 
   
   <%= image_tag("tiecake.png", :size => "360x580")  %> 

   <%= image_tag("sash.jpg", :size => "360x580")  %> 

   <%= image_tag("wedding.jpg", :size => "360x580")  %>

   <%= image_tag("folwer.jpg", :size => "360x580")  %> 

   <%= image_tag("kidi.jpg", :size => "360x580")  %> 

   <%= image_tag("cyn2.jpg", :size => "360x580")  %> 

   <%= image_tag("cyn3.jpg", :size => "360x580")  %> 

   <%= image_tag("cyn4.jpg", :size => "360x580")  %> 

   <%= image_tag("chocola.jpg", :size => "360x580")  %> 

   <%= image_tag("bear.jpg", :size => "360x580")  %> 

   <%= image_tag("baby.jpg", :size => "360x580")  %> 

   <%= image_tag("bee.jpg", :size => "360x580")  %> 

   <%= image_tag("sea.jpg", :size => "360x580")  %> 
 </div>
 <a href=""></a>
</div>