<div class="container">
  <div class="main">
   <%= image_tag("pineapple.jpg", :size => "360x580")  %> 
   
   <%= image_tag("tiecake.png", :size => "360x580")  %> 

   <%= image_tag("sash.jpg", :size => "360x580")  %> 

   <%= image_tag("wedding.jpg", :size => "360x580")  %>

   <%= image_tag("folwer.jpg", :size => "360x580")  %> 

   <%= image_tag("kidi.jpg", :size => "360x580")  %> 

   <%= image_tag("cyn2.jpg", :size => "360x580")  %> 

   <%= image_tag("cyn3.jpg", :size => "360x580")  %> 

   <%= image_tag("cyn4.jpg", :size => "360x580")  %> 

   <%= image_tag("chocola.jpg", :size => "360x580")  %> 

   <%= image_tag("bear.jpg", :size => "360x580")  %> 

   <%= image_tag("baby.jpg", :size => "360x580")  %> 

   <%= image_tag("bee.jpg", :size => "360x580")  %> 

   <%= image_tag("sea.jpg", :size => "360x580")  %> 
 </div>
 <a href=""></a>
</div>
<div class="foot">
<center>
<p style="color:white;">C.C.C</p><br>
<button class="waves-effect waves-light btn">
  <a href="">About</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="">Cake</a>
  </button class="waves-effect waves-light btn">
  <button class="waves-effect waves-light btn">
  <a href="">Custom Cake</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="">Contact</a>
  </button><br>
  <div>
    <a href=""></a>
  </div>
    <button class="waves-effect waves-light btn">
  <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
   <button class="waves-effect waves-light btn">
  </a> &nbsp;&nbsp;
  <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>

  </a>
</button>
</center>


</div>
