  <nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
   <li><a href="index">Home</a></li>
     <li><a href="about">About</a></li>
     <li><%= link_to 'Cakes', orders_path %> </li>
       <li><a href="blog">Gallery</a></li>
       <li><a href="make">Custom Cake</a></li>
     <li><a href="testimonies">Testimonial</a></li>
     <li><a href="contact">Contact</a></li>
     
    </ul>
  </div>
</nav>




<div class="container">
  <div class="main">

   <%= image_tag("halorin.png", :size => "360x580")  %> 

   <%= image_tag("pine.jpeg", :size => "360x580")  %> 

   <%= image_tag("minios.jpeg", :size => "360x580")  %> 
   
   <%= image_tag("tiecake.png", :size => "360x580")  %> 

   <%= image_tag("chacha.png", :size => "360x580")  %> 

   <%= image_tag("wedding.png", :size => "360x580")  %>

   <%= image_tag("flower.jpg", :size => "360x580")  %> 

   <%= image_tag("kidi2.png", :size => "360x580")  %> 

   <%= image_tag("ballcake.png", :size => "360x580")  %> 

   <%= image_tag("girlcake.png", :size => "360x580")  %> 

   <%= image_tag("boycake.png", :size => "360x580")  %> 

   <%= image_tag("strike.png", :size => "360x580")  %> 


   <%= image_tag("valtime.png", :size => "360x580")  %> 

   <%= image_tag("chocola.jpg", :size => "360x580")  %> 

   <%= image_tag("baer1.png", :size => "360x580")  %> 

   <%= image_tag("baby.png", :size => "360x580")  %> 

   <%= image_tag("bee.jpg", :size => "360x580")  %> 

   <%= image_tag("sea.jpg", :size => "360x580")  %> 
      <%= image_tag("cupcake.jpg", :size => "360x580")  %> 
 </div>
 <a href=""></a>
</div>
<div class="foot">
<center>
<p style="color:white;">C.C.C</p><br>
<button class="waves-effect waves-light btn">
  <a href="about">About</a>
  </button>
  <button class="waves-effect waves-light btn">
  <%= link_to 'Cakes', orders_path %>
  </button class="waves-effect waves-light btn">
  <button class="waves-effect waves-light btn">
  <a href="make">Custom Cake</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="contact">Contact</a>
  </button><br>
  <div>
    <a href=""></a>
  </div>
    <button class="waves-effect waves-light btn">
  <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
   <button class="waves-effect waves-light btn">
  </a> &nbsp;&nbsp;
  <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>

  </a>
</button>
</center>


</div>
