
    <div class="forblog">

      <h1 class="blog1">Cynthia C. Cakes</h1>

    </div>

    <div>
      <section class="box widget locations">
         <div class="row">
  <div class="small-12 large-4 columns">
    <div class="row ">
      <div class="small-12 medium-6 large-6 columns">
        <%= image_tag("apic.png", height:'50', width: '400',)  %>
      </div>
         <div class="meblogtext">
           <h4 class="blog1"><a> I am a Respiratory Therapist</a></h4>
           <p>Part of my Job is to examine patients with breathing 
             or cardiopulmonary disorders. <br>Consult with physicians to develop patient treatment plans. Perform diagnostic tests, such as measuring lung capacity.. </p>
           </div>
         </div>

        
      </section>
    </div>

 <div class="details">
          <a  class="btn btn-primary btn-block btn-large"> Live well with CCC.</a>
        </div>
        <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag("rescake3.jpg", height:'270', width: '400',)  %> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <%= image_tag("rescake2.jpg")  %><!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
       <%= image_tag("rescake4.jpg")  %> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
       <%= image_tag("rescake1.jpg", height:'270', width: '400',)  %><!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
      
      <!-- blog info, about health -->


      <div class="row">
  <div class="small-12 large-6 columns">
    <div class="row ">
      <div class="small-12 medium-6 large-6 columns">
        <%= image_tag("rescake1.jpg", height:'270', width: '400',)  %>
      </div>
      
        </div>
      </div>
    </div>
   </div>
   <div class="small-12 large-6 columns">
    <div class="row ">
      <div class="small-12 medium-6 large-6 columns">
        <%= image_tag("blog2.jpg", height:'270', width: '400',)  %>
      </div>
      
        </div>
      </div>
    </div>
   </div>
    
          



   <!-- the contact form -->
  <div class="small-12 large-6 columns">
      <div class="row">
        <div class="small-12 columns">
        <h1 style="color:pink;">Get In touch</h1>
          <form action="https://formspree.io/phil9231@gmail.com"
          method="POST">
            <div class="row">
              <div class="small-12 medium-6 columns">
                <label>Your name</label>
                  <input type="text" placeholder=""/>
              </div>

              <div class="small-12 medium-6 columns">
                <label>Your email</label>
                  <input type="text" placeholder=""/>
              </div>

              <div class="small-12 medium-6 columns">
                <label>What Kind of event</label>
                  <input type="text" placeholder=""/>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <label>Your message</label>
                  <textarea placeholder=""></textarea>
              </div>
            </div>
            <input type="submit" value="Send">
            

          </form>
        </div>
      </div>
    </div>


      <!-- the logo for contact -->
      <div class="lastlogo">
        <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i>
    </a> &nbsp;&nbsp;
    <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true">Book</i>
      </a>
      </div>
      
      <a href="#" class="btn btn-primary btn-large btn-block"></a>
    </section>
  </div>
   
