
<nav>
         <input type="checkbox" id="css-toggle-menu" name="css-toggle-menu"> 
         <ul class="main">
            <li><a href="index" class="nav-button">Home</a></li>
      <li><a href="blog">Gallery</a></li>
      <li><a href="make">Custom Cake</a></li>
      <li><%= link_to 'Cakes', orders_path %></li>
      <li><a href="contact">contact me</a></li>
         </ul> 
         <label for="css-toggle-menu" id="css-toggle-menu"></label> 
   </nav>
		
<div class="make">
<div class="learnmore">
	<div class="tit2">
	<h1><span>C</span>hocolate  <span> H</span>eart  <span> C</span>ake</h1>
	</div>
	
		<div class="container">
			<div class="img_cutom">
				<%= image_tag("valtime.png", :size => "660x680")  %> 

			</div>
			<div class="col s6">
				<div id="custom">
					<h3>Chocolate Heart Cake</h3>
					<hr class="style18">
					<p> This cake doesn't have to be celebrated only on holidays, but can also be used to treat yourself, friends or loved ones, celebrate accomplishments, and anniversaries. It's made with three moist gluten-free vanilla cake layers smothered by a deliciously smooth vanilla lime buttercream that also covers the entire cake. Garnished with fondant and assorted chocolates.



					</p>
					<h4>Ingredients</h4>
					<p>  butter, oil, vanilla/almond extract, sugar, lime zest, whole free range eggs, milk, almond/coconut flour, baking soda/powder, salt, and powdered sugar

</p>
						<hr class="style18">
						<div class="col s6 pull-s5">

						</div>
							
					</div>
				</div>
			</div>
		</div>
		<div id="back_ccc">
							<button> <%= link_to 'Back', orders_path %></button>
						</div>
	</div>

	<div class="container">
	<div class="nxt-pic">
			<a href="sixone">	<%= image_tag("baby.png", :size => "260x280")  %> 		</a>
		<a href="firstcake"><%= image_tag("tiecake.png", :size => "260x280")  %> 	</a>
			<a href="secondcake"><%= image_tag("chacha.png", :size => "260x280", )  %>	</a>
		</div>
		</div>


	<div class="foot">
		<center>
			<p style="color:white;">C.C.C</p><br>
			<button class="waves-effect waves-light btn">
				<a href="about">About</a>
			</button>
			<button class="waves-effect waves-light btn">
				<%= link_to 'Cakes', orders_path %>
			</button class="waves-effect waves-light btn">
			<button class="waves-effect waves-light btn">
				<a href="make">Custom Cake</a>
			</button>
			<button class="waves-effect waves-light btn">
				<a href="contact">Contact</a>
			</button><br>
			<div>
				<a href=""></a>
			</div>
			<button class="waves-effect waves-light btn">
				<a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
				<button class="waves-effect waves-light btn">
				</a> &nbsp;&nbsp;
				<a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>

			</a>
			<h6 style="color:white">Made in FL 2017 Philco Michel </h6>
		</button>
	</center>


</div>
















