
 <nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
    <li><a href="index">Home</a></li>
     <li><a href="about">About</a></li>
     <li><%= link_to 'Cakes', orders_path %> </li>
       <li><a href="blog">Gallery</a></li>
       <li><a href="make">Custom Cake</a></li>
     <li><a href="testimonies">Testimonials</a></li>
     
    </ul>
  </div>
</nav>
<div class="make">
<div class="learnmore">
	<div class="tit2">

		<h1><span>B</span>owling <span> B</span>all <span> C</span>ake</h1>
	</div>
	
		<div class="container">
			<div class="img_cutom">
				<%= image_tag("strike.png", :size => "660x680")  %> 

			</div>
			<div class="col s6">
				<div id="custom">
					<h3>Bowling Ball Cake</h3>
					<hr class="style18">
					<p> Is sure to please any crowd. It has two components that will make anyone with a sweet tooth drool-ice cream cake! Made with my signature rich homemade vanilla and Oreo crumble ice cream that is strategically placed in the center of two moist cookies n cream cake layers. Separated by a decadent homemade chocolate magic sauce to keep the ice cream from oozing out of the cake layers making it difficult to cut. Covered entirely with whipped raspberry flavored ganache followed by fondant. Garnished with fondant bowling pins and light stand.



					</p>
					<h4>Ingredients</h4>
					<p>
						Butter, Coconut oil, free range egg whites, sugar, vanilla, heavy whipping cream, milk, flour, baking soda, salt, Oreos, semi-sweet/milk chocolate chips

 
 </p>
						<hr class="style18">
						<div class="col s6 pull-s5">

						</div>
							
					</div>
				</div>
			</div>
		</div>
		<div id="back_ccc">
							<button> <%= link_to 'Back', orders_path %></button>
						</div>
	</div>
	<div class="container">
	<div class="nxt-pic">
		<a href="fiveone"><%= image_tag("valtime.png", :size => "260x280", )  %>	</a>
			<a href="sixone">	<%= image_tag("baby.png", :size => "260x280")  %> 		</a>

		<a href="firstcake"><%= image_tag("tiecake.png", :size => "260x280")  %> 	</a>
		</div>
		</div>


	<div class="foot">
		<center>
			<p style="color:white;">C.C.C</p><br>
			<button class="waves-effect waves-light btn">
				<a href="about">About</a>
			</button>
			<button class="waves-effect waves-light btn">
				<%= link_to 'Cakes', orders_path %>
			</button class="waves-effect waves-light btn">
			<button class="waves-effect waves-light btn">
				<a href="make">Custom Cake</a>
			</button>
			<button class="waves-effect waves-light btn">
				<a href="contact">Contact</a>
			</button><br>
			<div>
				<a href=""></a>
			</div>
			<button class="waves-effect waves-light btn">
				<a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
				<button class="waves-effect waves-light btn">
				</a> &nbsp;&nbsp;
				<a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>

			</a>
			<h6 style="color:white">Made in FL 2017 Philco Michel </h6>
		</button>
	</center>


</div>
















