
<div class="home1">
 

        <nav>
    <div class="nav-wrapper">
      
   <%= link_to 'C.C.C', orders_path %>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      
        <li><%= link_to 'Cakes', orders_path %></li>
        
      </ul>
    </div>
  </nav>
        
 


  <div class="container">

    <div class="tit">
      <h1 style="color:#B76E79"><span>C</span>ynthia <span>C</span>outure <span>C</span>akes</h1>
    </div>
  </div>
  

 <p class="p"> Sweets For All Occassions </p>
        <p class="p">Homemade, Organically Delicious</p>

        
  






  <!-- about me page -->

<footer>

   <div class="icon2"  style="font-size:2.8em;">
    
  </div>
</div>





 <div class="details">
          <a  class="btn btn-primary btn-block btn-large"> Live well with CCC.</a>
        </div>
        <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag("rescake3.jpg", height:'270', width: '400',)  %> <!-- random image -->
        <div class="caption center-align">
          <h3>Great taste</h3>
          <h5 class="light grey-text text-lighten-3">.</h5>
        </div>
      </li>
      <li>
        <%= image_tag("rescake2.jpg")  %><!-- random image -->
        <div class="caption left-align">
          <h3>Amazing</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
       <%= image_tag("rescake4.jpg")  %> <!-- random image -->
        <div class="caption right-align">
          <h3>Cool</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
       <%= image_tag("rescake1.jpg", height:'270', width: '400',)  %><!-- random image -->
        <div class="caption center-align">
          <h3>Organic Emojis!</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
  </div>
</footer>