
<div class="home1">
 <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <%= image_tag("blog5.jpg")  %>
      </div>
      <a href="#!user"><%= image_tag("apic.png", height:'250', width: '200', class: "img-circle cyn")  %></a>
      <a href="#!name"><span class="white-text name">Cynthia Servil</span></a>
      
    </div></li>
    <li><h4>Eat well with Cyn</h4></li>
   <li><a href="index">Home</a></li>
        <li><a href="about">About ME</a></li>
        <li><%= link_to 'Cakes', orders_path %></li>
        <li><a href="contact">Contact Me</a></li>
         <%= image_tag("blog5.jpg")  %>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i style="font-family:impact; font-size:2em;">CCC</i></a>

  
        
  <nav class="navbar navbar-inverse"> 
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"></a></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">CCC</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index">Home</a></li>
        <li><a href="about">About ME</a></li>
        <li><%= link_to 'Cakes', orders_path %></li>
        <li><a href="contact">Contact Me</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="index">Home</a></li>
        <li><a href="about">About ME</a></li>
        <li><%= link_to 'Cakes', orders_path %></li>
        <li><a href="contact">Contact Me</a></li>
      </ul>
    </div>
  </nav>



  <div class="container">

    <div class="tit">
      <h1 style="color:orange">cynthia couture cakes</h1>
    </div>
  </div>
  

 <p class="p"> Sweet For All Occassions </p>
        <p class="p">Homemade,Orgamically delicious.</p>
  






  <!-- about me page -->

<footer>

  <div class="icon2">
    <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i>
    </a> &nbsp;&nbsp;
    <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true">Book</i>
      </a
    </a> &nbsp;&nbsp;
    <a href="contact"><i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
</div>
</footer>
