

 <nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
    <li><a href="index">Home</a></li>
     <li><a href="about">About</a></li>
     <li><%= link_to 'Cakes', orders_path %> </li>
       <li><a href="blog">Gallery</a></li>
       <li><a href="make">Custom Cake</a></li>
     <li><a href="testimonies">Testimonials</a></li>
     
    </ul>
  </div>
</nav>
<div class="make">
<div class="learnmore">
	<div class="tit2">

		<h1><span>M</span>r <span> M</span>rs <span> C</span>ake</h1>
	</div>
	
		<div class="container">
			<div class="img_cutom">
				<%= image_tag("wedding.png", :size => "660x680")  %> 

			</div>
			<div class="col s6">
				<div id="custom">
					<h3>Mr & Mrs  Cake </h3>
					<hr class="style18">
					<p> This cake was made to celebrate a newlywed couple. Uniquely made with two different tiers of scrumptious cake.The first tier has two layers of decadent vanilla and strawberry cheesecake graham crusted layers separated with whipped raspberry flavored white chocolate ganache. The same ganache covers that entire tier. The next tier has two rum checkerboard moist cake layers tinted green and red (gucci colors), separated with flavored custard filling. The entire tier is covered with whipped Italian buttercream with hints of rum. Garnished with piped buttercream, mr&mrs cake topper, Cinderella shoe topper and a ribbon.




					</p>
					<h4>Ingredients</h4>
					<p>Butter, sugar, free range eggs, lime zest, vanilla/almond extract,  rhum, flour, baking powder, salt, cream cheese, strawberries, graham crackers, white chocolate chips, whipping cream, raspberry liquor, powdered sugar
 </p>
						<hr class="style18">
						<div class="col s6 pull-s5">

						</div>
							
					</div>
				</div>
			</div>
		</div>
		<div id="back_ccc">
							<button> <%= link_to 'Back', orders_path %></button>
						</div>
	</div>
	<div class="container">
	<div class="nxt-pic">
		
		<a href="next1"><%= image_tag("pine.jpeg", :size => "260x280")  %> 	</a>
			<a href="next2"><%= image_tag("kidi2.png", :size => "260x280", )  %>	</a>
			<a href="next3">	<%= image_tag("vlad.png", :size => "260x280")  %> 		</a>
		</div>
		</div>


	<div class="foot">
		<center>
			<p style="color:white;">C.C.C</p><br>
			<button class="waves-effect waves-light btn">
				<a href="about">About</a>
			</button>
			<button class="waves-effect waves-light btn">
				<%= link_to 'Cakes', orders_path %>
			</button class="waves-effect waves-light btn">
			<button class="waves-effect waves-light btn">
				<a href="make">Custom Cake</a>
			</button>
			<button class="waves-effect waves-light btn">
				<a href="contact">Contact</a>
			</button><br>
			<div>
				<a href=""></a>
			</div>
			<button class="waves-effect waves-light btn">
				<a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
				<button class="waves-effect waves-light btn">
				</a> &nbsp;&nbsp;
				<a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>

			</a>
			<h6 style="color:white">Made in FL 2017 Philco Michel </h6>
		</button>
	</center>


</div>
















