<div class="wrapper2">
  <div class="ordercake">
  <nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
    <li><a href="home">Home</a></li>
     <li><a href="about">About</a></li>
     <li><%= link_to 'Cakes', orders_path %> </li>
       <li><a href="blog">Gallery</a></li>
       <li><a href="make">Custom Cake</a></li>
     <li><a href="tesimonies">Testimonials</a></li>
     <li><a href="contact">Contact</a></li>
     
    </ul>
  </div>
</nav>
    

    <div class="res">

      <h1> RESERVE IT HERE </h1>
      <h5> Your tastebuds await!</h5>
    </div>
    <div id="listofcake">
    <div class="container">
      <div class="row">
        <div class="col s4">
         <!--    First cake  -->
         <figure class="snip1249">
          <div class="image">
           <%= image_tag("pine.jpeg")  %> 
         </div>
         <figcaption>
          <h4> Pineapple Cake</h4>
          <p>This realistic pineapple cake not only looks like a real pineapple, it tastes like one too! Moisten by the pineapple syrup that was lathered in the tinted pineapple cake..</p>
          <div class="price" style="color:white">
            <h6>Price</h6>
            <p>$55.00 & up</p>
          </div>
          <a href="next1" class="add-to-cart">Learn More</a>
          <a href="reserve" class="add-to-cart">Order Today</a>
        </figcaption>
      </figure></div>
      <div class="col s4">
       <!--      Second cake -->
       <figure class="snip1249">
        <div class="image">
         <%= image_tag("kidi2.png")  %> 
       </div>
       <figcaption>
        <h4> Hello Kitty Cake </h4>
        <p>This cake will have you running for your money! It has super moist yet rich white chocolate and dulce de leche cake layers smothered with an irresistible streusel crumble apple crisp filling.... </p>
        <div class="price" style="color:white">
          <h6>Price</h6>
          <p>$35.00 & up</p>
        </div>
        <a href="next2" class="add-to-cart">Learn More</a>
        <a href="reserve" class="add-to-cart">Order Today</a>
      </figcaption>
    </figure>
  </div>
  <!--   Third cake -->
  <div class="col s3">
    <figure class="snip1249">
      <div class="image">
       <%= image_tag("vlad.png")  %> 
     </div>
     <figcaption>
      <h4>Beach Themed Cake</h4>
      <p>This beach themed anniversary cake will make you wish you were at the beach. For this occasion, to watch the Fourth of July fireworks and feel the sand between your toes alongside your loved ones...</p>
      <div class="price" style="color:white">
        <h6>Price</h6>
        <p>$75.99 & up</p>
      </div>
      <a href="next3" class="add-to-cart">Learn More</a>
      <a href="reserve" class="add-to-cart">Order Today</a>
    </figcaption>
  </figure>
</div>
</div>

</div>
<!--    Fourth cake  -->
<div class="container">
  <div class="row">
    <div class="col s4"><figure class="snip1249">
      <div class="image">
       <%= image_tag("chocola.jpg")  %> 
     </div>
     <figcaption>
      <h4>Chocoholic Dream Cake</h4>
      <p>This dreamy rich  decadent  melt-in-your-mouth chocolate cake will leave any chocoholic drooling at just the site of it; one taste and their in chocolate heaven...</p>
      <div class="price" style="color:white">
        <h6>Price</h6>
        <p>$35.00 & up</p>
      </div>
      <a href="next4" class="add-to-cart">Learn More</a>
      <a href="reserve" class="add-to-cart">Order Today</a>
    </figcaption>
  </figure>
</div>
<!--    Fith cake  -->
<div class="col s4">
  <figure class="snip1249">
    <div class="image">
     <%= image_tag("baer1.png")  %> 
   </div>
   <figcaption>
    <h4>Teddy Bear Cake</h4>
    <p>This "jaw dropping" realistic teddy bear cake will make any toddlers day! It's gluten free and moisten with vanilla syrup ...</p>
    <div class="price" style="color:white">
      <h6>Price</h6>
      <p>$65.00 & up</p>
    </div>
    <a href="next5" class="add-to-cart">Learn More</a>
    <a href="reserve" class="add-to-cart">Order Today</a>
  </figcaption>
</figure>
</div>
<!--    six cake  -->
<div class="col s3">
  <figure class="snip1249">
    <div class="image">
     <%= image_tag("wedding.png")  %> 
   </div>
   <figcaption>
    <h4>Mr & Mrs Cake </h4>
    <p>This cake was made to celebrate a newlywed couple. Uniquely made with two different tiers of scrumptious cake.The first tier has two layers of decadent vanilla and strawberry cheesecake graham crusted layers ...</p>
    <div class="price" style="color:white">
      <h6>Price</h6>
      <p>$70.00 & up</p>
    </div>
    <a href="next6" class="add-to-cart">Learn More</a>
    <a href="reserve" class="add-to-cart">Order Today</a>
  </figcaption>
</figure>
</div>

</div>
</div>
</div>

<div class="foot">
<center>
<p style="color:white;">C.C.C</p><br>
<button class="waves-effect waves-light btn">
  <a href="about">About</a>
  </button>
  <button class="waves-effect waves-light btn">
   <%= link_to 'Cakes', orders_path %>
  </button class="waves-effect waves-light btn">
  <button class="waves-effect waves-light btn">
  <a href="make">Custom Cake</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="contact">Contact</a>
  </button><br>
  <div>
    <a href=""></a>
  </div>
    <button class="waves-effect waves-light btn">
  <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
   <button class="waves-effect waves-light btn">
  </a> &nbsp;&nbsp;
  <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>
  </a>
  
    <h6 style="color:white">Made in © 2017 | Philco Michel</h6>
</button>
</center>


</div>

