

<nav>
	<ul class="drop-down closed">
		<li><a href="index" class="nav-button">Home</a></li>
		<li><%= link_to 'Cakes', orders_path %></li>
		<li><a href="about">About Me</a></li>


	</ul>
</nav>
<div class="make">
<div class="learnmore">
	<div class="tit2">

		<h1><span>B</span>each <span> T</span>hemed  <span> C</span>ake</h1>
	</div>
	
		<div class="container">
			<div class="img_cutom">
				<%= image_tag("vlad.png", :size => "660x680")  %> 

			</div>
			<div class="col s6">
				<div id="custom">
					<h3>Beach Themed Cake</h3>
					<hr class="style18">
					<p> This beach themed anniversary cake will make you wish you were at the beach. For this occasion, to watch the Fourth of July fireworks and feel the sand between your toes alongside your loved ones. This two tier cake has three different moist cake layers representing the American flag which are white/red/blue velvet cakes. Separated by delicious raspberry cookies n' cream icing. The entire cake is the covered in whipped cream cheese icing and garnished with tinted buttercream, graham crackers, white chocolate seashells and a gorgeous seashell topper.




					</p>
					<h4>Ingredients</h4>
					<p>
						Oil, free range eggs, sugar, vanilla, vinegar, red/blue dye, powdered sugar, cocoa powder, flour, Oreos, whipped cream, cream cheese, buttermilk, raspberry, baking soda/powder, salt
 </p>
						<hr class="style18">
						<div class="col s6 pull-s5">

						</div>
							
					</div>
				</div>
			</div>
		</div>
		<div id="back_ccc">
							<button> <%= link_to 'Back', orders_path %></button>
						</div>
	</div>
	<div class="container">
	<div class="nxt-pic">
		<a href="next4"><%= image_tag("chocola.jpg", :size => "260x280", )  %>	</a>
			<a href="next5">	<%= image_tag("baer1.png", :size => "260x280")  %> 		</a>

		<a href="next6"><%= image_tag("wedding.png", :size => "260x280")  %> 	</a>
		</div>
		</div>


	<div class="foot">
		<center>
			<p style="color:white;">C.C.C</p><br>
			<button class="waves-effect waves-light btn">
				<a href="about">About</a>
			</button>
			<button class="waves-effect waves-light btn">
				<%= link_to 'Cakes', orders_path %>
			</button class="waves-effect waves-light btn">
			<button class="waves-effect waves-light btn">
				<a href="make">Custom Cake</a>
			</button>
			<button class="waves-effect waves-light btn">
				<a href="contact">Contact</a>
			</button><br>
			<div>
				<a href=""></a>
			</div>
			<button class="waves-effect waves-light btn">
				<a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
				<button class="waves-effect waves-light btn">
				</a> &nbsp;&nbsp;
				<a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>

			</a>
			<h6 style="color:white">Made in FL 2017 Philco Michel </h6>
		</button>
	</center>


</div>
















