<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <li><a href="index">Home</a></li>
      <li><a href="about">About</a></li>
      <li><%= link_to 'Cakes', orders_path %> </li>
      <li><a href="blog">Gallery</a></li>
      <li><a href="make">Custom Cake</a></li>
      <li><a href="tesimonies">Testimonials</a></li>

    </ul>
  </div>
</nav>

<div class="container">
  <div id="testify">
    <div class="tit2">
      <h1><span>T</span>estimonials</h1>
    </div>
    <figure class="snip1167">
      <figure class="snip1167">
        <%= image_tag("chacha1.jpg")  %> 
        <blockquote>Sasha: Amazing. Moist. Delicious. These are all words that come to mind when I eat the cakes and desserts that Cynthia provides. You can tell that she puts a lot of thought and love in her baking. What I enjoy the most is that I can also remind myself that I'm still eating healthy because of the organic ingredients she includes in her baked goods.  </blockquote>
      </figure>
      <%= image_tag("jneetest.jpg")  %> 
      <blockquote>Jnee: Thank you for all the beautiful cakes you've provide for my family and I. Your cakes always taste and look amazing. Since the first time I tasted one of your cakes, I never brought a cake from anywhere or anyone else.</blockquote>
      <figure class="snip1167">
        <%= image_tag("jessy.png")  %> 
        <blockquote>Jess: Cyn's cakes are the best cakes I've ever had. Her homemade icing is literally "to-die-for" it just melts in your mouth and completes you, and with just the right amount of sweetness--perfection. Since she uses all organic ingredients in her cakes, it takes away my guilt when I eat too much.  </blockquote>
        <figure class="snip1167">
          <%= image_tag("marc.jpeg")  %> 
          <blockquote>Marc: Thank you for the awesome cake you made for me. It was very creative and by the looks of it, I immediately knew it was professionally well done. Not to mention, the taste definitely matched the looks. Great job all around and I highly recommend C.C.C.  </blockquote>
        </figure>
          <figure class="snip1167">
      <%= image_tag("billy.jpeg")  %> 
      <blockquote>Billy : You haven't ate a cake yet until you've tried these!! These aren't know corner store hood rat cakes made with play dough and mayonnaise! You can tell a lot of effort and passion are put into these cakes, second to none amazing! I'am now a life time customer!!
      </blockquote>
    </figure>
      </figure>
    </figure> 
    <figure class="snip1167">
      <%= image_tag("trudy.jpeg")  %> 
      <blockquote>Trudy:Cynthia Couture Cakes 🎂 are amazing!! The cakes that she's made for me had everything that I love (Sneakers😍). It didn't taste like the cakes we usually get from Publix, Walmart, Costco, or even Whole Foods. Her cakes taste uniquely different, just the right amount of sweetness added to the cakes. If your reading this, I highly recommend you to order a cake of your choice. You won't regret it!   </blockquote>
      <figure class="snip1167">
        <%= image_tag("ore.jpeg")  %> 
        <blockquote>Ore: Gracias Cynthia! Me encanto mi torta! El precio y el sabor excelente! Además el diseño hermoso! Se la recomiendo a todos!   </blockquote>
      </figure>

      <figure class="snip1167">
        <%= image_tag("kiki.jpg")  %> 
        <blockquote>Djoney:  Thank you for the great cakes you made  for me. They are always so delicious and put together .I highly recommend C.C.C.
        </blockquote>
      </figure>
      <figure class="snip1167">

      <%= image_tag("miriam.jpeg")  %> 
      <blockquote>Miriam : Amazing is an understatement! Cyn’s cake are not only too delicious, but her creative designs really add to the overall experience. There’s no doubt that Cynthia will not deliver! All her work is truly exceptional, I’d recommend her to anyone in a heart beat! Thank you for your amazing work..                 </blockquote>
    </figure>
     <figure class="snip1167">

      <%= image_tag("jo.png")  %> 
      <blockquote>Joane :J'ai recemmement commander un gateau d'anniversaire de Cynthia. Le service etait rapide et professionel. Le gateau etait bien decore et livre a temps. 

                 </blockquote>
    </figure>
    </figure> 

    <figure class="snip1167">

      <%= image_tag("bear.jpg")  %> 
      <blockquote>Vlad: Cynthia Couture cakes are to die for. We asked her to do a cake for our daughter's first birthday. She made a custom teddy bear cake that was well designed and delicious. My daughter loved it so much that she tried to hug the bear ("cake"). I definitely recommend C.C.C.  </blockquote>
    </figure>

    <figure class="snip1167">
      <%= image_tag("kelly.jpeg")  %> 
      <blockquote>Kelly : Eh tenido el placer de probar varios pasteles echos por Cynthia Couture Cakes, y puedo decir que son absolutamente deliciosos. No solo saben delicioso pero también se ven divinos y siempre con un toque creativo. La mejor! 
      </blockquote>
    </figure>
    <figure class="snip1167">

      <%= image_tag("ayanna.jpeg")  %> 
      <blockquote>Ayanna : Cynthia listens to your ideas and then recommends other ideas that will make the cake more colorful and taste better. Her cakes are very creative and tastes better than most store bought cakes because they are made from scratch and it's organic. I've baked and helped deliver cakes with her and I've seen everyone pleased with the results. When I ordered a birthday cake to take to my school she was very helpful with ideas. Everyone at school loved it and wanted her to make their cakes too.                 </blockquote>
    </figure>

  </figure>
</figure>
  </figure>
</figure>

</div>

</div>
