<div class="wrapper2">
  <div class="ordercake">
    <nav>
      <ul class="drop-down closed">
        <li><a href="home/index" class="nav-button">Home</a></li>
        <li><a href="home/about">About Me</a></li>
         <li><a href="home/make">Custom Cake</a></li>
        <li><a href="home/contact">Contact me</a></li>
      </ul>
    </nav>


    <div class="res">

      <h1> RESERVE IT HERE </h1>
      <h5> Your tastebuds await!</h5>
    </div>
    <div id="listofcake">
    <div class="container">
      <div class="row">
        <div class="col s4">
         <!--    First cake  -->
         <figure class="snip1249">
          <div class="image">
           <%= image_tag("tiecake.png")  %> 
         </div>
         <figcaption>
          <h4>Shirt Cake</h4>
          <p>This cake was made out of two decadently moist layers of delicious tropical brown butter carrot cake. That is smothered by luscious spiced cookie butter whipped cream cheese icing  ...</p>
          <div class="price" style="color:white">
            <h6>Price</h6>
            <p>$45.00 & up</p>
          </div>
          <a href="home/firstcake" class="add-to-cart">Learn More</a>
          <a href="home/reserve" class="add-to-cart">Order Today</a>
        </figcaption>
      </figure></div>
      <div class="col s4">
       <!--      Second cake -->
       <figure class="snip1249">
        <div class="image">
         <%= image_tag("sash.jpg")  %> 
       </div>
       <figcaption>
        <h4> Piano Cake </h4>
        <p>This piano cake is sure to make a "wow factor" for any pianist. This cake has two super moist funfetti cake layers smothered with luscious whipped cream cheese icing. Covered entirety by the same irresistible cream cheese icing... </p>
        <div class="price" style="color:white">
          <h6>Price</h6>
          <p>$65.00 & up</p>
        </div>
        <a href="home/secondcake" class="add-to-cart">Learn More</a>
        <a href="home/reserve" class="add-to-cart">Order Today</a>
      </figcaption>
    </figure>
  </div>
  <!--   Third cake -->
  <div class="col s3">
    <figure class="snip1249">
      <div class="image">
       <%= image_tag("bee.jpg")  %> 
     </div>
     <figcaption>
      <h4>Beehive Cake</h4>
      <p>This beehive cake is sure to bring tears of joy to any mother-to-bee. It's was designed to make it appear like there's working bees in the beehive safe housing a sleeping baby...</p>
      <div class="price" style="color:white">
        <h6>Price</h6>
        <p>$75.99 & up</p>
      </div>
      <a href="home/thirdone" class="add-to-cart">Learn More</a>
      <a href="home/reserve" class="add-to-cart">Order Today</a>
    </figcaption>
  </figure>
</div>
</div>

</div>
<!--    Fourth cake  -->
<div class="container">
  <div class="row">
    <div class="col s4"><figure class="snip1249">
      <div class="image">
       <%= image_tag("chocola.jpg")  %> 
     </div>
     <figcaption>
      <h4>Chocoholic Dream Cake</h4>
      <p>This dreamy rich  decadent  melt-in-your-mouth chocolate cake will leave any chocoholic drooling at just the site of it; one taste and their in chocolate heaven...</p>
      <div class="price" style="color:white">
        <h6>Price</h6>
        <p>$35.00 & up</p>
      </div>
      <a href="home/fourthone" class="add-to-cart">Learn More</a>
      <a href="home/reserve" class="add-to-cart">Order Today</a>
    </figcaption>
  </figure>
</div>
<!--    Fith cake  -->
<div class="col s4">
  <figure class="snip1249">
    <div class="image">
     <%= image_tag("bear.jpg")  %> 
   </div>
   <figcaption>
    <h4>Teddy Bear Cake</h4>
    <p>This "jaw dropping" realistic teddy bear cake will make any toddlers day! It's gluten free and moisten with vanilla syrup in each white chocolate raspberry layer for add moisture...</p>
    <div class="price" style="color:white">
      <h6>Price</h6>
      <p>$65.00 & up</p>
    </div>
    <a href="home/fiveone" class="add-to-cart">Learn More</a>
    <a href="home/reserve" class="add-to-cart">Order Today</a>
  </figcaption>
</figure>
</div>
<!--    six cake  -->
<div class="col s3">
  <figure class="snip1249">
    <div class="image">
     <%= image_tag("pineapple.jpg")  %> 
   </div>
   <figcaption>
    <h4>Pineapple Cake</h4>
    <p>This realistic pineapple cake not only looks like a real pineapple, it tastes like one too! Moisten by the pineapple syrup that was lathered in the tinted pineapple cake layers as seen on howtocakeit for added flavor/moisture...</p>
    <div class="price" style="color:white">
      <h6>Price</h6>
      <p>$60.00 & up</p>
    </div>
    <a href="home/sixone" class="add-to-cart">Learn More</a>
    <a href="home/reserve" class="add-to-cart">Order Today</a>
  </figcaption>
</figure>
</div>

</div>
</div>
</div>

<div class="foot">
<center>
<p style="color:white;">C.C.C</p><br>
<button class="waves-effect waves-light btn">
  <a href="home/about">About</a>
  </button>
  <button class="waves-effect waves-light btn">
   <%= link_to 'Cakes', orders_path %>
  </button class="waves-effect waves-light btn">
  <button class="waves-effect waves-light btn">
  <a href="home/make">Custom Cake</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="home/contact">Contact</a>
  </button><br>
  <div>
    <a href=""></a>
  </div>
    <button class="waves-effect waves-light btn">
  <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
   <button class="waves-effect waves-light btn">
  </a> &nbsp;&nbsp;
  <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>
  </a>
  
    <h6 style="color:white">Made in © 2017 | Philco Michel</h6>
</button>
</center>


</div>

