<div class="wrapper2">
  <div class="ordercake">
    <nav>
      <ul class="drop-down closed">
        <li><a href="home/index" class="nav-button">Home</a></li>
        <li><a href="home/about">About Me</a></li>
        <li><a href="home/contact">contact me</a></li>

      </ul>
    </nav>



    <div class="res">

      <h1> RESERVE IT HERE </h1>
      <h5> see your dream cake come to life.</h5>
    </div>

    <div id="allcards">
      <div class="card1">
        <div class="blog-card">
          <div class="photo photo1"><%= image_tag("blog2.jpg", height:'250', width: '200', class: "img-circle cyn")  %>

          </div>
          <ul class="details">
            <li class="author"><a href="#">Minion Cake</a></li>
            <li class="tags">
              <ul>
                <li><a href="#">Learn More</a></li>
                <li><a href="#">Tips</a></li>

              </ul>
            </li>
          </ul>

          <div class="description">

            <h2>Minion Cake</h2>
            <h2>Devil’s food cake and cookies & cream </h2>
            <p class="summary">frosted with flavored chocolate ganache filled with snickers covered in marshmallow fondant.</p>
            <a href="#">Read More</a>
          </div>
        </div> <br>

        <div class="blog-card alt">
          <div class="photo photo2"><%= image_tag("cyn2.jpg", height:'250', width: '200', class: "img-circle cyn")  %></div>
          <ul class="details">
            <li class="author"><a href="#">Soccer Cake</a></li>
            <li class="tags">
              <ul>
                <li><a href="#">Learn More</a></li>
                <li><a href="#">Tips</a></li>
              </ul>
            </li>
          </ul>
          <div class="description">
            <h2>Soccer Ball Cake</h2>
            <h2>Almond cake</h2>
            <p class="summary">Filled with couito filling and flavoredwhite chocolate ganache, covered in mashmallow fondant</p>
            <a href="#">Read More</a>
          </div>
        </div>  
      </div>


      <div id="card2">
        <div class="blog-card">
          <div class="photo photo3"><%= image_tag("jne.jpg", height:'250', width: '200', class: "img-circle cyn")  %></div>
          <ul class="details">
            <li class="author"><a href="#">Gold Pearl Cake</a></li>

            <li class="tags">
              <ul>
                <li><a href="#">Learn More</a></li>
                <li><a href="#">Tips</a></li>
              </ul>
            </li>
          </ul>
          <div class="description">
            <h2>Gold Pearl Cake</h2>
            <h2>Red velvet and cookies & cream cake</h2>
            <p class="summary"> These perfect Red velvet and cookies cake frosted with vanilla buttercream also cover with eatable diamond.</p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="blog-card alt">
          <div class="photo photo4"><%= image_tag("cyn4.jpg", height:'250', width: '200', class: "img-circle cyn")  %></div>
          <ul class="details">
            <li class="author"><a href="#">Dipped Chocolate Bar Cake</a></li>

            <li class="tags">
              <ul>
                <li><a href="#">Learn More</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Ingrdiece</a></li>
              </ul>
            </li>
          </ul>
          <div class="description">
            <h2>Dipped Chocolate Bar Cake</h2>
            <h2>Blue velvet cake and cookies & cream</h2>
            <p class="summary">cake filled with flavored chocolate ganache with crushed cookies, frosted with vanilla buttercream..</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="card3">

        <div class="blog-card">
          <div class="photo photo5"><%= image_tag("cyn5.jpg", height:'250', width: '200', class: "img-circle cyn")  %></div>
          <ul class="details">
            <li class="author"><a href="#">Cup cake</a></li>
            <li class="tags">
              <ul>
                <li><a href="#">Learn More</a></li>
                <li><a href="#">Tips</a></li> 
              </ul>
            </li>
          </ul>

          <div class="description">
            <h2>Vanilla Cupcake</h2>
            <h2>Vanilla Cupcake flower & cream</h2>
            <p class="summary">Perfect moist and fluffy cupcake, they tasted increbibly awsome.</p>
            <a href="#">Read More</a>
          </div>
        </div>

        <div class="blog-card alt">
          <div class="photo photo6"><%= image_tag("cyn6.jpg", height:'250', width: '200', class: "img-circle cyn")  %></div>
          <ul class="details">
            <li class="author"><a href="#">Strawberry cake</a></li>
            <li class="tags">
              <ul>
                <li><a href="#">Learn More</a></li>
                <li><a href="#">Code</a></li>
              </ul>
            </li>
          </ul>
          <div class="description">
            <h2>Strawberry Cake</h2>
            <h2>Strawberry Cake % whole straberries on the side</h2>
            <p class="summary">A perfect strawberry cake & side with strawberry cream cheese frosting.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

    </div>
    <div id="new">
      <button class="res" style="font-family:impact;">

        <a href="home/reserve">Reserve</a>
      </button>
    </div>
  </div>
</div>
