<div class="wrapper2">
  <div class="ordercake">
    <nav>
      <ul class="drop-down closed">
        <li><a href="home/index" class="nav-button">Home</a></li>
        <li><a href="home/about">About Me</a></li>
        <li><a href="home/contact">contact me</a></li>

      </ul>
    </nav>



    <div class="res">

      <h1> RESERVE IT HERE </h1>
      <h5> see your dream cake come to life.</h5>
    </div>
    <div class="site__wrapper">
      <div class="grid">
        <div class="card">
          <div class="card__image">
            <%= image_tag("tiecake.png")  %>
            <div class="card__overlay card__overlay--indigo">
              <div class="card__overlay-content">
                <ul class="card__meta">
                </ul>
                <div class="card__title">Best of all &amp; Cake</div>
                <ul class="card__meta card__meta--last">
                 <li><a href="#0">Learn More</a></li>
               </ul>
               <p>kmkmlml;,;;</p>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="grid">
      <div class="card">
        <div class="card__image">
        <%= image_tag("tiecake.png")  %>
         <div class="card__overlay card__overlay--blue">
          <div class="card__overlay-content">
           <div class="card__title">Best of all &amp; Cake</div>
           <ul class="card__meta card__meta--last">
             <li><a href="#0">Learn More</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div class="grid">
  <div class="card">
    <div class="card__image">
     <%= image_tag("wedding.jpg")  %>
     <div class="card__overlay card__overlay--indigo">
      <div class="card__overlay-content">
        <div class="card__title">Best of all &amp; Cake</div>
        <ul class="card__meta card__meta--last">
          <li><a href="#0">Learn More</a></li>
        </ul>    
      </div>
    </div>
  </div>
</div>
</div>

<div class="grid">
  <div class="card">
    <div class="card__image">
     <%= image_tag("sash.jpg")  %>

     <div class="card__overlay card__overlay--indigo">
      <div class="card__overlay-content">
        <div class="card__title">Best of all &amp; Cake</div>
        <ul class="card__meta card__meta--last">
         <li><a href="#0">Learn More</a></li>
       </ul>   
     </div>
   </div>
 </div>
</div>
</div>

<div class="grid">
  <div class="card">
    <div class="card__image">
      <%= image_tag("tiecake.png")  %>
      <div class="card__overlay card__overlay--blue">
        <div class="card__overlay-content">
          <div class="card__title">Best of all &amp; Cake</div>
          <ul class="card__meta card__meta--last">
            <li><a href="home/firstcake">Learn More</a></li>
          </ul>   
        </div>
      </div>
    </div>
  </div>
</div>   
<div class="grid">
  <div class="card">
    <div class="card__image">
     <%= image_tag("wedding.jpg")  %>
     <div class="card__overlay card__overlay--indigo">
      <div class="card__overlay-content">
        <div class="card__title">Best of all &amp; Cake</div>
        <ul class="card__meta card__meta--last">
          <li><a href="#0">Learn More</a></li>
        </ul>    
      </div>
    </div>
  </div>
</div>
</div>
     <div class="grid">
        <div class="card">
          <div class="card__image">
            <%= image_tag("tiecake.png")  %>
            <div class="card__overlay card__overlay--indigo">
              <div class="card__overlay-content">
                <ul class="card__meta">
                </ul>
                <div class="card__title">Best of all &amp; Cake</div>
                <ul class="card__meta card__meta--last">
                 <li><a href="#0">Learn More</a></li>
               </ul>
               <p>kmkmlml;,;;</p>
             </div>
           </div>
         </div>
       </div>
     </div><div class="grid">
        <div class="card">
          <div class="card__image">
            <%= image_tag("tiecake.png")  %>
            <div class="card__overlay card__overlay--indigo">
              <div class="card__overlay-content">
                <ul class="card__meta">
                </ul>
                <div class="card__title">Best of all &amp; Cake</div>
                <ul class="card__meta card__meta--last">
                 <li><a href="#0">Learn More</a></li>
               </ul>
               <p>kmkmlml;,;;</p>
             </div>
           </div>
         </div>
       </div>
   </div><div class="grid">
        <div class="card">
          <div class="card__image">
            <%= image_tag("tiecake.png")  %>
            <div class="card__overlay card__overlay--indigo">
              <div class="card__overlay-content">
                <ul class="card__meta">
                </ul>
                <div class="card__title">Best of all &amp; Cake</div>
                <ul class="card__meta card__meta--last">
                 <li><a href="#0">Learn More</a></li>
               </ul>
               <p>kmkmlml;,;;</p>
             </div>
           </div>
         </div>
       </div>
<div class="site__info">
  <p>Thank you for joining our sweet</p>
  <p>Homemade by CCC</p></div>
</div><!-- @end site__wrapper -->



</div>
<div id="new">
  <button class="res" style="font-family:impact;">
    <a href="home/reserve" style="margin-top:2em; margin-bottom:5em;">Reserve</a>
  </button>
</div>








