<div class="wrapper2">
  <div class="ordercake">
    <nav>
      <ul class="drop-down closed">
        <li><a href="home/index" class="nav-button">Home</a></li>
        <li><a href="home/about">About Me</a></li>
         <li><a href="home/make">Custom Cake</a></li>
         <li><a href="home/blog">Gallery</a></li>
        <li><a href="home/testimonies">Testimonials</a></li>
                <li><a href="home/contact">Contact me</a></li>
      </ul>
    </nav>


    <div class="res">

      <h1> RESERVE IT HERE </h1>
      <h5> Your tastebuds await!</h5>
    </div>
    <div id="listofcake">
    <div class="container">
      <div class="row">
        <div class="col s4">
         <!--    First cake  -->
         <figure class="snip1249">
          <div class="image">
           <%= image_tag("tiecake.png")  %> 
         </div>
         <figcaption>
          <h4>Shirt Cake</h4>
          <p>This cake was made out of two decadently moist layers of delicious tropical brown butter carrot cake. That is smothered by luscious spiced cookie butter whipped cream cheese icing  ...</p>
          <div class="price" style="color:white">
            <h6>Price</h6>
            <p>$45.00 & up</p>
          </div>
          <a href="home/firstcake" class="add-to-cart">Learn More</a>
          <a href="home/reserve" class="add-to-cart">Order Today</a>
        </figcaption>
      </figure></div>
      <div class="col s4">
       <!--      Second cake -->
       <figure class="snip1249">
        <div class="image">
         <%= image_tag("chacha.png")  %> 
       </div>
       <figcaption>
        <h4> Piano Cake </h4>
        <p>This piano cake is sure to make a "wow factor" for any pianist. This cake has two super moist funfetti cake layers smothered with luscious whipped cream cheese icing. Covered entirety by the same irresistible cream cheese icing... </p>
        <div class="price" style="color:white">
          <h6>Price</h6>
          <p>$65.00 & up</p>
        </div>
        <a href="home/secondcake" class="add-to-cart">Learn More</a>
        <a href="home/reserve" class="add-to-cart">Order Today</a>
      </figcaption>
    </figure>
  </div>
  <!--   Third cake -->
  <div class="col s3">
    <figure class="snip1249">
      <div class="image">
       <%= image_tag("bee.jpg")  %> 
     </div>
     <figcaption>
      <h4>Beehive Cake</h4>
      <p>This beehive cake is sure to bring tears of joy to any mother-to-bee. It's was designed to make it appear like there's working bees in the beehive safe housing a sleeping baby. This baby-shower cake is a definite crowd please..</p>
      <div class="price" style="color:white">
        <h6>Price</h6>
        <p>$75.99 & up</p>
      </div>
      <a href="home/thirdone" class="add-to-cart">Learn More</a>
      <a href="home/reserve" class="add-to-cart">Order Today</a>
    </figcaption>
  </figure>
</div>
</div>

</div>
<!--    Fourth cake  -->
<div class="container">
  <div class="row">
    <div class="col s4"><figure class="snip1249">
      <div class="image">
       <%= image_tag("strike.png")  %> 
     </div>
     <figcaption>
      <h4>Bowling Ball Cake</h4>
      <p>Is sure to please any crowd. It has two components that will make anyone with a sweet tooth drool-ice cream cake! Made with my signature rich homemade vanilla...</p>
      <div class="price" style="color:white">
        <h6>Price</h6>
        <p>$100.00 & up</p>
      </div>
      <a href="home/fourthone" class="add-to-cart">Learn More</a>
      <a href="home/reserve" class="add-to-cart">Order Today</a>
    </figcaption>
  </figure>
</div>
<!--    Fith cake  -->
<div class="col s4">
  <figure class="snip1249">
    <div class="image">
     <%= image_tag("valtime.png")  %> 
   </div>
   <figcaption>
    <h4>Chocolate Heart Cake</h4>
    <p>This cake doesn't have to be celebrated only on holidays, but can also be used to treat yourself, friends or loved ones, celebrate accomplishments, and anniversaries...</p>
    <div class="price" style="color:white">
      <h6>Price</h6>
      <p>$45.00 & up</p>
    </div>
    <a href="home/fiveone" class="add-to-cart">Learn More</a>
    <a href="home/reserve" class="add-to-cart">Order Today</a>
  </figcaption>
</figure>
</div>
<!--    six cake  -->
<div class="col s3">
  <figure class="snip1249">
    <div class="image">
     <%= image_tag("baby.png")  %> 
   </div>
   <figcaption>
    <h4>Nautical Baby Cake</h4>
    <p>Made with two moist layers of buttery almond cake separated by a luscious whipped almond buttercream. The same delicious icing covers the entire cake and is than covered completely by LMF fondant...</p>
    <div class="price" style="color:white">
      <h6>Price</h6>
      <p>$60.00 & up</p>
    </div>
    <a href="home/sixone" class="add-to-cart">Learn More</a>
    <a href="home/reserve" class="add-to-cart">Order Today</a>
  </figcaption>
</figure>
</div>


</div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col s4"><figure class="snip1249">
      <div class="image">
       <%= image_tag("purse.jpeg")  %> 
     </div>
     <figcaption>
      <h4>Purse Cake</h4>
      <p>Made for luxury purse lovers and addicts alike! This cake will fool anyone into believing it's the real deal with it's realistic looks!...</p>
      <div class="price" style="color:white">
        <h6>Price</h6>
        <p>$100.00 & up</p>
      </div>
      <a href="home/sevenone" class="add-to-cart">Learn More</a>
      <a href="home/reserve" class="add-to-cart">Order Today</a>
    </figcaption>
  </figure>
</div>
<!--    Fith cake  -->
<div class="col s4">
  <figure class="snip1249">
    <div class="image">
     <%= image_tag("barbell.jpeg")  %> 
   </div>
   <figcaption>
    <h4>Barbell Plate Cake</h4>
    <p>Gym rats and fitness gurus alike won't have enough of this cake! This cake has "hit the gym" written all over it...</p>
    <div class="price" style="color:white">
      <h6>Price</h6>
      <p>$45.00 & up</p>
    </div>
    <a href="home/eightone" class="add-to-cart">Learn More</a>
    <a href="home/reserve" class="add-to-cart">Order Today</a>
  </figcaption>
</figure>
</div>
<!--    six cake  -->
<div class="col s3">
  <figure class="snip1249">
    <div class="image">
     <%= image_tag("paris.jpeg")  %> 
   </div>
   <figcaption>
    <h4>Elegant Paris Cake</h4>
    <p>This Paris inspired cake was made with three moist layers of butter cake, and since it's "French" themed, it has to have some rhum/liquor involved...</p>
    <div class="price" style="color:white">
      <h6>Price</h6>
      <p>$60.00 & up</p>
    </div>
    <a href="home/nineone" class="add-to-cart">Learn More</a>
    <a href="home/reserve" class="add-to-cart">Order Today</a>
  </figcaption>
</figure>
</div>


</div>
</div>
<center>
 <button class="waves-effect waves-light btn">
  <a href="home/next" style="color:white">NEXT</a>
  </button>
  </center>

<div class="foot">
<center>
<p style="color:white;">C.C.C</p><br>
<button class="waves-effect waves-light btn">
  <a href="home/about">About</a>
  </button>
  <button class="waves-effect waves-light btn">
   <%= link_to 'Cakes', orders_path %>
  </button class="waves-effect waves-light btn">
  <button class="waves-effect waves-light btn">
  <a href="home/make">Custom Cake</a>
  </button>
  <button class="waves-effect waves-light btn">
  <a href="home/contact">Contact</a>
  </button><br>
  <div>
    <a href=""></a>
  </div>
    <button class="waves-effect waves-light btn">
  <a href="https://www.instagram.com/cynthia_couture_cakes/?hl=en"><i class="fa fa-instagram" aria-hidden="true">IG</i></a></button>
   <button class="waves-effect waves-light btn">
  </a> &nbsp;&nbsp;
  <a href="https://www.facebook.com/profile.php?id=100013551661548"><i class="fa fa-facebook" aria-hidden="true"></i></a></button>
  </a>
  
    <h6 style="color:white">Made in © 2017 | Philco Michel</h6>
</button>
</center>


</div>

